@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=JetBrains+Mono:wght@400;500&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-mono: "JetBrains Mono", ui-monospace, SFMono-Regular, monospace;
  
  --color-military-950: #fbfcfb;
  --color-military-900: #f4f7f3; /* Limpo, tom claro para fundos */
  --color-military-850: #e9ede7; /* Cinza oliva muito suave */
  --color-military-800: #ffffff; /* Fundo de card puro ou branco */
  --color-military-750: #e2e8e1; /* Divisores e bordas leves */
  --color-military-700: #cbd2c9; /* Bordas um nível mais fortes */
  --color-military-600: #7d8f7b; /* Texto secundário ou ícones desativados */
  --color-military-500: #3c5e3c; /* Verde oliva principal acadêmico */
  --color-military-450: #2d482d; /* Verde oliva escuro militar */
  --color-military-400: #223321; /* Texto secundário forte, legível */
  --color-military-300: #234723; /* Botões principais, links e títulos */
  --color-military-200: #102410; /* Hover de botões, verde bem profundo */
  --color-military-100: #0d140c; /* Tom quase preto para contraste supremo */
}

@layer base {
  body {
    @apply bg-military-900 text-military-100 antialiased;
  }
}
